.field-name-body {
	margin: 1em 0;
}

// only position when viewing, not editing
.node .field-name-field-logo {
	position: absolute;
	top: -4em;
	right: 0;
	padding: 0 0 0.5em 0.5em;

	background: white;
}