@import "mixins";
$grid-padding: 1em;

.grid-container {
	margin-left: -$grid-padding;

	@include clearfix;
}

[class*='col-'] {
	padding-left: $grid-padding;
	float: left;

	@include breakpoint(baby-bear) {
		float: none;
	}
}

@for $i from 1 through 10 {
	@for $j from 1 through $i {
		.col-#{$j}-#{$i} {
			width: $j/$i *100%;

			@include breakpoint(baby-bear) {
				width: 100%;
			}
		}
	}
}

