@import "variables";
@import "mixins";

.global-container {
	position: relative;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

// Global blocks
.region-header {
	padding: 1em 0;

	background: white;
	border-bottom: 6px solid $pink-hot;
	box-shadow: 0 0 10px $shadow;
}

#wrapper {
	background: white url(../images/bg-pattern.png);

	> .global-container {
		padding-top: 1em;
		padding-bottom: 1em;

		background: url(../images/bg-content.png) right top no-repeat;
	}
}

.region-highlighted {
	margin-bottom: 1em;
}

#content {
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

#sidebar {

	@include breakpoint(mama-bear) {
		width: 100%;
		margin-top: 1em;
	}

	//@include breakpoint(baby-bear) {
	// 	margin-left: -1em;

	// 	.block {
	// 		float: left;
	// 		width: 50%;
	// 		margin: 0 0 1em;
	// 		padding-left: 1em;
	// 	}
	//}
}

.region-bottom {
	margin-top: 1em;
}

.region-footer {
	padding: 1em 0;

	text-align: center;
	font-size: 0.7em;
	background: $pink-hot;
	color: white;

	a {
		color: white;
	}
}