@import "variables";


.menuHorizontal ul.menu { // added tag, thanks drupal
	margin: 0;
	padding: 0;

	text-align: center;

	li {
		display: inline-block;
		position: relative;
		float: left;
		margin: 0 0 0 1em;

		@include breakpoint(mama-bear) {
			float: none;
		}
	}

	a, span {
		display: block;
		padding-top: 38px;

		text-transform: uppercase;
		text-decoration: none;
		background: none top no-repeat;
		color: $pink-hot;

		&.active, &.active-trail { color: $pink-medium; }

	}

	li:hover {
		> a, > span {
			color: $pink-medium;
		}
	}

	.menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -7em;
		width: 14em;
		z-index: 15;

		background: white;
		border-radius: 0.5em;
		box-shadow: 0 0 10px $shadow;

		.no-boxshadow & {
			border: 1px solid #ccc;
		}

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			left: 50%;
			bottom: 100%;
			margin-left: -12px;
			width: 25px;
			height: 12px;

			background: url(../images/arrow-nub.png) no-repeat;
		}

		li {
			display: block;
			float: none;
			margin: 0;
			padding: 0.3em 0;
		}

		a, span {
			padding: 0.25em 1em;

			&:hover {
				color: white;
				background: $pink-hot;
			}
		}
	}
	li:hover > .menu { display: block; }


	@each $menu in home, about, events, members, galleries, facebook {
		.menu-#{$menu} {
			> a, > span { background-image: url(../images/icons/#{$menu}.png); }
			&:hover {
				> a, > span { background-image: url(../images/icons/#{$menu}-over.png); }
			}
			> a.active, > span.active,
			> a.active-trail, > span.active-trail { background-image: url(../images/icons/#{$menu}-over.png); }
		}
	}
}

.menuVertical ul.menu {
	margin: 0;
	padding: 0;



	li {
		display: block;
		padding: 0;
		margin: 0;
	}

	a, span {
		display: block;
	}
}