@import "variables";

[role=contentinfo] {
	font-size: 0.7em;
	padding: 1px 0 1em;
}


.text-right { text-align: right; }
.text-left { text-align: left; }


ul.pink li {
	position: relative;
	list-style: none;

	&:before {
		position: absolute;
		left: -15px;
		top: 45%;

		content: ' ';
		width: 5px;
		height: 5px;

		border-radius: 50%;
		background: $light-grey;
	}
}

ul.contacts {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0.5em 0;
		padding: 0 0 0.5em;
		border-bottom: 1px solid $light-grey;
	}
}

.event-list {
	margin: 0;
	padding: 0;

	li {
		float: left;
		display: inline-block;
		width: 33%;
		margin: 0;
	}
}