$slideshow-padding: 0.2em;

.slideshow {
	.main {
		display: block;
		padding: $slideshow-padding;

		background: #fff;
		box-shadow: 0 0 4px rgba(0,0,0, 0.4);
	}

	ul {
		margin: ($slideshow-padding*3) 0 0;
		padding: 0;

		text-align: center;
	}

	li {
		display: inline-block;
		margin: 0 $slideshow-padding;
		padding: $slideshow-padding;

		background: #fff;
		box-shadow: 0 0 4px rgba(0,0,0, 0.4);
	}

	li img {
		display: block;
	}
}